@media {
    #headshot {
        width: 300px;
        float: left;
        margin: 0px 20px 0px -1px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    #contact {
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    #contact a:hover {
        color: red;
    }

    #info {
        width: 100%;
        margin: auto;
    }

    footer {
        text-align: bottom;
        color: blanchedalmond;
        background-color: aquamarine;
        padding: 20px;
        width: 100%;
        position: fixed;
        bottom: 0px;
    }

    p {
        color: black;
    }
}

@media (min-width: 576px) {
    #info {
        width: 700px;
    }

    #headshot {
        float: left;
    }
}
