/*
MY COLOR PALETTE
color 1: #868596 gray
color 2: #c48e7c brownish
*/
@media {
    img {
        width: 100%;
        border-radius: 50%;
        margin: 20px 0px 20px 0px;
    }

    h1 {
        font-family: "League Spartan", serif;
        font-size: 115px;
        margin: 30px 0px -24px 50px;
        text-align: center;
        letter-spacing: 2px;
    }
    h2 {
        font-family: "League Spartan", serif;
        padding: 10px;
        font-size: 50px;
        text-align: center;
    }

    #intro {
        background-color: #868596;
        color: white;
        font-family: "League Spartan", serif;
        text-align: center;
        font-size: 70px;
        border-bottom: 16px solid #c48e7c;
    }

    #intro p {
        padding: 10px 0px 0px 0px;
        margin: 0px;
    }

    button {
        background-color: #c48e7c;
        color: white;
        font-family: "League Spartan", serif;
        border-radius: 100px;
        width: 430px;
        padding: 20px;
        font-size: 50px;
        height: 150px;
        border: none;
        margin: 0px auto 0px auto;
        display: block;
    }

    button:hover {
        background-color: #372b2c;
    }
}
@media (min-width: 576px) {
}
